*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.setRight {
    animation: rightSet infinite 1s ease-in-out;
}

.download-buton{
    background: rgb(17,9,152);
background: linear-gradient(90deg, rgba(17,9,152,1) 0%, rgba(25,19,96,1) 46%, rgba(69,13,147,1) 83%);
}

@keyframes rightSet {
    0% {
        transform: translateX(5px);
    }
    50%{ transform: translateX(-5px);}
    100% {
        transform: translateX(5px);
    }
}

.setLeft {
    animation: leftSet infinite 1s ease-in-out;
}
@keyframes leftSet {
    0% {
        transform: translateX(5px);
    }
    50%{ transform: translateX(-5px);}
    100% {
        transform: translateX(5px);
    }
}