* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.download-button {
    background: rgb(17, 9, 152);
    background: linear-gradient(90deg, rgba(17, 9, 152, 1) 0%, rgba(25, 19, 96, 1) 46%, rgba(69, 13, 147, 1) 83%);
}

@keyframes rightSet {
    0% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

@keyframes leftSet {
    0% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.download-container {
    background: rgb(67, 64, 254);
    background: linear-gradient(90deg, rgba(67, 64, 254, 1) 19%, rgba(103, 90, 247, 1) 58%, rgba(183, 135, 250, 1) 96%);
}