* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.react-icon {
    animation: iconReact infinite 5s;
}

@keyframes iconReact {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tech-container {
    background: rgb(67, 64, 254);
    background: linear-gradient(90deg, rgba(67, 64, 254, 1) 19%, rgba(103, 90, 247, 1) 58%, rgba(183, 135, 250, 1) 96%);
}